#title {
  text-align: center;
}

#color-palette {
  text-align: center;
  margin-left: -1.8em;
}

.color {
  border: 1px solid black;
  display: inline-block;
  width: 25px;
  height: 25px;

}

.color2 {
  background-color: rgb(15, 163, 107);
}

.color3 {
  background-color: yellow;
}

.color4 {
  background-color: red;
}

.black {
  background-color: black;
}

#pixel-board {
  text-align: center;
  margin: auto;
}
