* {
    text-align: center;
    background-color: lightgray;
}

.color {
    border: 1px solid black;
    padding: 30px 30px;
    margin: 2px;
    width: 20px;
    display: inline;
    font-size: 0;
}

#black {
    background-color: black;
}

#yellow {
    background-color: yellow;
}

#green {
    background-color: green;
}

#pink {
    background-color: pink;
}

.pixel {
    height: 40px;
    width: 40px;
    background-color: white;
    border: 1px solid black;
    padding: 0px;
}

#pixel-board {
    border-collapse: separate;
    margin: auto;
}

#clear-board {
    margin: 30px 15px;

}