body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #15202B;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#color-palette {
  margin-bottom:0px;
  display: flex;
  width: 180px;
  height: 50px;
  justify-content: space-evenly;

}
#botao-cores-sortidas{
  margin-top: 0px;
}

.color {
  width: 40px;
  height: 40px;
  border: solid 1px;
  border-color: black;
}

.pixel {
  width: 40px;
  height: 40px;
  border: 1px solid black;
  background-color: white;
  display: inline-block;
}

.row {
  display: flex;
  background-color: white;
  margin: 0;
}

.buttons {
  background-color: #4267B2;
  color: white;
  text-decoration: none;
  border: none;
  border-radius: 5%;
  margin: 5px;
}

.buttons:hover {
  background-color: #213a6d;
  color: white;
  border: none;
}

h1{
  margin-bottom: 2px;
}

