* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#color-palette {
  display: flex;
  flex-direction: row;
}

.color {
  width: 80px;
  height: 80px;
  margin: 10px;
  border: 1px solid rgb( 0 , 0 , 0 );
  cursor: pointer;
}

#pixel-board {
  display: grid;
  grid-template-columns: repeat(5, 40px);
  grid-template-rows: repeat(5, 40px);
}

.pixel {
  border: 1px solid rgb( 0 , 0 , 0 );
  width: 40px;
  height: 40px;
}
