
#pixel-board, .pixel, .line {
  border: 0;
  padding: 0;
  border-image: 0;
}

.color {
  margin: 10px auto;
  text-align: center;
  display: inline-block;
}
.box {
  border: 1px solid black;
  width: 40px;
  height: 40px;
  margin: 0;
}
.black {
  background-color: black;
}
.blue {
  background-color: blue;
}
.yellow {
  background-color: yellow;
}
.red {
  background-color: red;
}
.white {
  background-color: white;
}
