* {
  margin: 0;
  padding: 0;
}

.color {
  border: 1px solid black;
  display: inline-block;
  height: 40px;
  width: 40px;
}

.black {
  background-color: black;
}

#board-size {
  width: 50px;
}

#generate-board {
  border-radius: 5px;
  margin: 20px;
  padding: 10px 15px;
}

button {
  border-radius: 5px;
  margin: 20px;
  padding: 10px 15px;
}

.pixel {
  background-color: white;
  border: 1px solid black;
  display: inline-block;
  height: 40px;
  margin: -3px -1px;
  width: 40px;
}
