body {
  text-align: center;
}

.color {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: black solid 1px;
}

#black {
  background-color: black;
}

#orange {
  background-color: orange;
}

#pink {
  background-color: pink;
}

#blue {
  background-color: blue;
}

.pixel {
  border: black solid 1px;
  height: 25px;
  width: 25px;
  display: table-cell;
  background-color: white;
}

#pixel-board {
  border: black solid 1px;
  display: table;
  margin: 10px auto;
}
