body{
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;
}


#color-palette{
    width: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 0px;

    align-items: center;
    justify-content: center;
}

#color-palette div{
    width: 25px;
    height: 25px;
    margin: auto;
    border: solid black 1px;
}

.black{
    background-color: black;
}

.green{
    background-color: green;
}

.red{
    background-color: red;
}

.blue{
    background-color: blue;
}

#pixel-board{
    width: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 0px;

    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.pixel{
    margin: 5px auto;
    width: 40px;
    height: 40px;
    border: solid black 1px;
}