#color-palette {
    
}

.color {
  display: inline-block;
  border: 1px solid;
  padding: 40px;
}

.black {
  background-color: black;
}

.blue {
  background-color: blue;
}

.red {
  background-color: red;
}

.green{
  background-color: green;
}

.pixel{
  border: 1px solid black;
  width: 40px;
  height: 40px; 
  background-color: white;
}

#pixel-board{
    background-color: white;
}