.color{
    border: 1px solid black;
    width:40px;
    height: 40px;
    display: inline-block;
}

.pixel{
    border: 1px solid black;
    width: 40px;
    height: 40px;
    display: table-cell;
    background-color: white;
}

.clean-board{
    margin-bottom: 5px;
}