* {
    margin: 5px;
} 
#color-palette {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
}
.color{
    border: solid black 1px;
     width: 40px;
    height: 40px;
}

#pixel-board{
    border-collapse: collapse;
    /*border: solid black 1px;
    border-collapse: separate;
    border-spacing: 0px 0px;*/
}
.pixel{
    border:solid black 1px;
    width:40px;
    height:40px;
}