.color {
  border-style: solid;
  border-width: 1px;
  border-color: black;
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: 5px;
}

.pixel {
  border-style: solid;
  border-width: 1px;
  border-color: black;
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: 5px;
  background-color: white;
}
  
  
  
  