.color {
    border: 1px solid black;
    height: 40px;
    margin-right: 14px;
    width: 40px;
}

header {
    align-items: center;
    display: flex;
    justify-self: center;
    padding: 15px;
}

#color-palette {
    align-items: center;
    display: flex;
    justify-content: left;
    padding: 15px;
}
#pixel-board {
  width: 210px;
  height: 210px;
  position: relative;
  padding: 15px;  
}
.pixel {
  background-color: white;
  border: 1px solid black;
  width: 40px;
  height: 40px;
  display: block;
  float: left;
}