.color {
  border: 1px solid black;
  width: 40px;
  height: 40px;
  display: inline-block;
}

.linha {
  display: flex;
}

.pixel {
  background-color: white;
  border: 1px solid black;
  height: 40px;
  width: 40px;
}
