#color-palette {
     
}

.color {
    display: inline-block; 
    width: 50px;
    height: 50px;
    border-style: solid;
    border-width: 1px;
}

#pixel-board {
    width: 17%;
}

.pixel {
    background-color: rgb(255,255,255);
    width: 40px;
    height: 40px;
    display: inline-block;
    border-style: solid;
    border-width: 1px;
}