.color {
    width: 40px;
    height: 40px;
    display: inline-block;
    border: "1px solid black";
}
.pixel {
    width: 40px;
    height: 40px;
    display: inline-block;
}
 #pixel-board {
    border-collapse: collapse;
 }