#title {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 50px;
}
body {
  background-color: #edf2f4;
  text-align: center;
}
#color-palette {
  margin-bottom: 10px;
}

.color {
  width: 40px;
  height: 40px;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  display: inline-block;
  margin-right: 5px;
}

#pixel-board {
  margin-top: 15px;
  line-height: 0;
}
.pixel {
  background-color: white;
  width: 40px;
  height: 40px;
  border-color: black;
  border-width: 1px;
  border-style: solid;
  display: inline-block;
}
