.color{
    border: 1px black solid;
    width: 40px;
    height: 40px;
    display: inline-block;
    
    
}
#color1{
    background-color: black;
}

#color2{
    background-color: red;
}
#color3{
    background-color: blue;
}
#color4{
    background-color: green;
}

#pixel-board{
    border: 1px black solid;
    width: 200px;
    height: 200px;
    line-height: 0;
    
}

.pixel{
    width: 40px;
    height: 40px;
    display: inline-block;
    border: 1px black solid;
    box-sizing: border-box;
    background: white;
        
}

#color-palette{
    
    width: 180px;
}