.titulo-geral {
  text-align: center;
}

.paleta-cores-container {
  text-align: center;
}

.color {
  border: 1px solid black;
  display: inline-block;
  height: 40px;
  margin: 1em;
  text-align: center;
  width: 40px;
}

.tamanho-quadro-container {
  background-color: antiquewhite;
  border: 3px solid grey;
  display: inline-block;
  font-size: 25px;
  width: fit-content;
}

.input {
  background-color: antiquewhite;
  border: 1px dotted white;
  font-size: 24px;
  margin: 5px;
  width: 100px;
}

.btn-VQV {
  background-color: antiquewhite;
  border: 3px ridge grey;
  font-size: 30px;
  margin: 5px;
  width: 300px;
}

.container-botao {
  justify-content: space-around;
  text-align: center;
}

.container-botao button {
  background-color: antiquewhite;
  border: 3px ridge grey;
  font-size: 31px;
  margin: 5px;
  width: auto;
}

.quadro-pixels {
  display: flex;
  height: 240px;
  margin-left: 40%;
  width: 240px;
}

.pixel {
  background-color: white;
  border: 1px solid black;
  display: grid;
  height: 40px;
  position: relative;
  width: 40px;
}
