body{
    display: grid;
}

.color {
    width: 35px;
    height: 35px;
    border: 1px solid #000;
    float: left;
    margin: .5rem;
    cursor: pointer;
}

.pixel {
    width: 40px;
    height: 40px;
    float: left;
    border: 1px solid #000;
    background-color: #ffff;
}

#pixel-board {
    width: 212px;
    height: 212px;
    cursor: pointer;
}