body {
    text-align: center;
}

header, section{
    margin-bottom: 30px;
}

.color {
    display: inline-block;
    border: 1px solid black;
    margin-right: 10px;
    width: 75px;
    height: 75px;
}

#black{background-color: black;}
#red{background-color: red;}
#blue{background-color: blue;}
#yellow{background-color: yellow;}

table{
    margin-left: auto;
    margin-right: auto;
    border-spacing: 0px;
}


.pixel {
    display: inline-block;  
    border: 1px solid black; 
    width: 40px;
    height: 40px;
    background-color: white;
}