

body {
  margin: 0;
  padding: 0;
  border: 0;
  margin: 10px;
  font-family: 'Roboto Condensed', sans-serif;
}

h1 {
  margin-top: 2px;
  margin-bottom: 8px;
}

#color-palette {
  padding: 1px;
}

.color {
    width: 40px;
    height: 40px;
    border: 1px solid black;
    display: inline-block;
    background-color: black;

}


.selected {
    padding: 2px;
}

section {
   margin-top: 10px;
   margin-bottom: 10px;
   padding: 1px;
}

.pixel-row {
    display: table-row;
}
.pixel {
    width: 40px;
    height: 40px;
    border: 1px solid rgb(0, 0, 0);
    display: table-cell;
    background-color: white;
}


button {
  border: 1px solid rgb(93, 93, 93);
  border-radius: 8px;
  padding: 6px;
  min-width: 60px;
  background-color: rgb(243, 243, 243);
  text-decoration: none;
  margin: 1px;
}
button:hover  {
  border: 1.1px solid rgb(0, 0, 0);
}
input {
  border: 1px solid rgb(93, 93, 93);
  border-radius: 8px;
  padding: 6px;
  min-width: 60px;
  background-color: rgb(243, 243, 243);
  text-decoration: none;
  margin: 1px;
}
input:hover  {
  border: 1.1px solid rgb(0, 0, 0);
}
