.color {
    border: 1px solid black;
    display: inline-block;
    width: 60px;
    height: 60px;
    margin-left: 2px;
  } 

  #pixel-board {
    width: 250px;
    height: 250px;
  }
  .pixel {
    background: white;
    display: inline-block;
    width: 40px;
    height: 40px;
    border: solid 1px black;
  }

  .selected {
    background-color: black;
  }