.colors {
    width: 500px;
    height: 70px;
}

.color {
    display: inline-block;
    border-style: solid;
    border-width: 1px;
    width: 80px;
    height: 80px;
    margin: 5px;
}

.black {
    background-color: black;
}

.red {
    background-color: red;
}

.yellow {
    background-color: yellow;
}

.blue {
    background-color: blue;
}

#pixel-board {
    position: absolute;
    top: 200px;
    display: inline-block;
    border-style: solid;
    border-width: 1px;
}

.row {
/*height: 40px;
width: auto;*/  
display: table-row;
}

.pixel {
height: 40px;
width: 40px;
border-style: solid;
border-width: 1px;
display: table-cell;
background-color: white;
}