.color {
    border: 1px solid black;
    display: inline-block;
    width: 40px;
    height: 40px;
    
}

.pixel {
    width: 40px;
    height: 40px;
    border: 1px solid black;
    display: table-cell;
    background-color: white;
    

}




/*/#color-palette {

}/*/