.color {
    width: 40px;
    height: 40px;

    border: "10px";
    border: 1px solid black;
    display: inline-block;
}



#black {
    width: 40px;
    height: 40px;

    border: "10px";
    border: 1px solid black;
    background-color: black;

}

#red {
    width: 40px;
    height: 40px;

    border: "10px";
    border: 1px solid black;
    background-color: red;
}

#blue {
    width: 40px;
    height: 40px;

    border: "10px";
    border: 1px solid black;
    background-color: blue;
}

#green {
    width: 40px;
    height: 40px;

    border: "10px";
    border: 1px solid black;
    background-color: green;
}


.pixel {
    width: 41px;
    height: 41px;
    border: 1px solid black;
    background: white;
}

#pixel-board {
    border-collapse: collapse;
}