#title {

}

#color-palette {

}

.color {
width: 40px;
height: 40px;
margin: 10px;
border-style: solid;
border-color: black;
border-width: 1px;
display: inline-block;
}

.lines {
  display: table-row;
}

#pixel-board {
  border-collapse: collapse;
  display: table;
}

.pixel {
  width: 41px;
  height: 41px;
  border-color: black;
  border-style: solid;
  border-width: 1px;
  margin: 0px;
  display: table-cell;
  background-color: white;
}

.selected {

}
