#pixel-board {
    border-collapse: collapse;
    border: 1px solid black;
}
.pixel {
    width: 37px;
    height: 37px;
    background-color: white;
    border: 1px solid black;
}

#color-palette {
    display: inline-flex;
}

.color {
    border: 1px solid;
    width: 40px;
    height: 40px;
    margin: 0 2px 0 0;
}

.black {
    background-color: black;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.pink {
    background-color: pink;
}

#clear-board {
    display: block;
    margin-bottom: 4px;
}