*color  {
  border-style: 1px;
  border-color: black;
}
#black {
  background-color: black;
}
#blue {
  background-color: blue;
}
#yellow {
  background-color: yellow;
}
#red {
  background-color: red;
}
